body {
    background-color: bisque;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

#code-snippet {
    background-color: lightgray;
    padding: 3px;
    border-radius: 5px;
}