body {
    background-color: bisque;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.bio {
    flex: 1;
    margin-left: 30px;
}

.my-image {
    flex-shrink: 0;
}

#my-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}